<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receipts</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          <li>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
          </li>
          <li>
            <a href="{% url 'account_list' %}">Accounts</a>
          </li>
          <li>
            <a href="{% url 'category_list' %}">Expense Categories</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'signup' %}">Signup</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <h1>My Receipts</h1>
      <table>
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          {% for Receipts in receipt_list.all %}
          <tr>
            <td>{{ Receipts.vendor }}</td>
            <td>{{ Receipts.total }}</td>
            <td>{{ Receipts.tax }}</td>
            <td>{{ Receipts.date|date:"n/j/y" }}</td>
            <td>{{ Receipts.category.name }}</td>
            <td>{{ Receipts.account.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
